<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DBTableFile" value="D:\\Deepa\\Training\\GitHub\\DotNet\\DAFTriggerUtility\\Input\\TableList.csv"/>
    <add key="TriggerTemplateXML" value="D:\\Deepa\\Training\\GitHub\\DotNet\\DAFTriggerUtility\\Input\\MySqlTrigger.xml"/>
    <add key="TriggerOutPutPath" value="D:\\Deepa\\Training\\GitHub\\DotNet\\DAFTriggerUtility\\Output\\"/>
  </appSettings>
</configuration>