<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="1.0.0.18" targetFramework="net452" />
  <package id="Microsoft.ProjectOxford.Vision" version="1.0.370" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="UiPath.Word.Activities" version="1.0.5963.26496" targetFramework="net452" />
</packages>